@import '~primeicons/primeicons.css';
@import '~primereact/resources/themes/saga-blue/theme.css'; /* Cambia el tema según prefieras */
@import '~primereact/resources/primereact.min.css';

*{
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr 1fr;
  display: flex; 
  flex-direction: column; 
  box-sizing: border-box;
  overflow: hidden;
}

.content{
  overflow: hidden;
  min-width: 200px;
  padding-top: 20px; 
  margin-left: 250px;
  margin-right: 250px;
  justify-content: center;
  text-align: center; 
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100%;
}


@media (max-width: 768px) {
  .leftsidebar,
  .rightsidebar {
    display: none; 
  }

  .content {
    margin-left: 0;
    margin-right: 0;
  }
}